<button mat-mini-fab tabindex="-1" aria-hidden="true" aria-label="next" class="docs-carousel-nav docs-carousel-nav-prev">
    <span class="mat-button-wrapper">
        <mat-icon>navigate_before</mat-icon>
    </span>
</button>

<div role="region" class="docs-carousel-content-wrapper">
    <div role="list" tabindex="0" class="docs-carousel-content">
        <a [href]="carousel.href" *ngFor="let carousel of carousels" class="carousel-item docs-featured-components-carousel-item ng-star-inserted" tabindex="-1" role="listitem">
            <div class="docs-homepage-img-container">
                <img role="presentation" [src]="carousel.src" alt>
            </div>
            {{ carousel.name }}
        </a>
    </div>

</div>
<button mat-mini-fab tabindex="-1" aria-hidden="true" aria-label="next" class="docs-carousel-nav docs-carousel-nav-next">
    <span class="mat-button-wrapper">
        <mat-icon>navigate_next</mat-icon>
    </span>
</button>
