:host(style-position){
    .parent{
        width: 50em;
        height: 50em;
        background-color: #000;
    }
    .child{
        width: 25em;
        height: 25em;
        background-color: #ff0;
    }
}
