<footer class="docs-footer">
    <div class="docs-footer-list">
        <div class="docs-footer-logo">
            <div class="footer-logo">
                <img src="https://avatars.githubusercontent.com/u/38277891?v=4" alt="Icon" class="docs-footer-angular-logo">
                <span>
                    <a href="https://github.com/kidwen/web-style">Write By Kidwen</a>
                </span>
            </div>
        </div>
        <div class="docs-footer-version"></div>
        <div class="docs-footer-copyright"></div>
    </div>
</footer>
