:host(style-main) {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    mat-sidenav-container {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        div.docs-component-sidenav-inner-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            main.docs-component-sidenav-body-content {
                display: flex;
                flex: 1 1 auto;
            }
        }
    }
}
