<mat-sidenav-container>
    <!-- <mat-sidenav>

    </mat-sidenav> -->
    <!-- <mat-sidenav-content cdkscrollable class="mat-drawer-content mat-sidenav-content"> -->
    <div class="docs-component-sidenav-inner-content">
        <header class="docs-primary-header component-page-header">
            <h1>{{ selectedMenu }}</h1>
        </header>
        <main class="docs-component-sidenav-body-content">
            <style-menu-nav [links]="links" (onSelected)="onSelected($event);"></style-menu-nav>
            <router-outlet></router-outlet>
        </main>
    </div>
    <!-- </mat-sidenav-content> -->
</mat-sidenav-container>
