:host(style-animate) {
    .doc-title {
        color: #f00;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 16px;
    }

    .doc-item {
        color: #00f;
        margin-bottom: 8px;
    }

    section {
        margin-bottom: 24px;
    }
}
