<div class="app-homepage">
    <header class="docs-header-background" style="outline: none;">
        <div class="docs-header-section">
            <div class="docs-header-headline">
                <h1 class="mat-h1">Style App</h1>
                <h2>Copy The Style Like Angular Material</h2>
            </div>
            <div class="docs-header-start">
                <a href="#" mat-raised-button class="mat-focus-indicator doc-button mat-raised-button mat-button-base">
                    <span class="mat-button-wrapper">Get Start</span>
                    <span matripple="" class="mat-ripple mat-button-ripple"></span>
                    <span class="mat-button-focus-overlay"></span>
                </a>
            </div>
        </div>
    </header>
    <main class="docs-homepage-promo">
        <div class="docs-homepage-row docs-introduction">
            <div class="docs-homepage-row-column">
                <h2>High quality</h2>
                <p>Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.</p>
                <p>Straightforward APIs with consistent cross platform behaviour.</p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>High quality</h2>
                <p>Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.</p>
                <p>Straightforward APIs with consistent cross platform behaviour.</p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>High quality</h2>
                <p>Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.</p>
                <p>Straightforward APIs with consistent cross platform behaviour.</p>
            </div>
        </div>
        <mat-divider role="separator"></mat-divider>
        <div class="doc-homepage-featured-components docs-homepage-carousel-row">
            <div class="docs-homepage-header">
                <h2>Featured components</h2>
                <a routerLink="/demos" class="docs-link" href="/demos">
                    View all components
                    <mat-icon aria-hidden="true">chevron_right</mat-icon>
                </a>
            </div>
            <lib-carousel>
                <a carousel-item routerLink="/demos/{{component.originValue}}" *ngFor="let component of components; index as i" class="carousel-item docs-featured-components-carousel-item" tabindex="-1" role="listitem">
                    <div class="docs-homepage-img-container">
                        <img role="presentation" [src]="component.imgUrl" alt>
                    </div>
                    {{ component.name }}
                </a>
            </lib-carousel>
        </div>
        <mat-divider role="separator"></mat-divider>
        <div class="docs-homepage-guides docs-homepage-carousel-row" style="height: 200px;"></div>
    </main>
    <lib-footer></lib-footer>
</div>
