:host(style-root) {
    display: flex;
    flex-direction: column;
    height: 100%;
    style-navbar {
        + * {
            margin-top: 52px;
        }
    }
    @media screen and (max-width: 40.063rem) {
        header {
            .ui-menu-switch {
                display: inline-block;
            }

            .tools {
                display: none;
            }
        }

        main {
            > nav {
                display: none;
                position: absolute;
                z-index: 2;
                background: #ffffff;

                &.ui-sidemenu-open {
                    display: inline-block;
                }
            }
        }
    }
}
