<mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="flex">
        <pre>
            <code [highlightAuto]="flexCode" lineNumbers></code>
        </pre>
        <div class="content flex mat-elevation-z4">
            content
        </div>
    </mat-tab>
    <mat-tab label="table">
        <pre>
            <code [highlightAuto]="tableCode" lineNumbers></code>
        </pre>
        <div class="content table mat-elevation-z4">
            <div class="cell">
                content
            </div>
        </div>
    </mat-tab>
    <mat-tab label="absolute">
        <pre>
            <code [highlightAuto]="absoluteCode" lineNumbers></code>
        </pre>
        <div class="content relative mat-elevation-z4">
            <div class="absolute">
                content
            </div>
        </div>
    </mat-tab>
    <mat-tab label="absolute-margin-auto">
        <pre>
            <code [highlightAuto]="absoluteMarginAutoCode" lineNumbers></code>
        </pre>
        <div class="content relative mat-elevation-z4">
            <div class="absolute-margin-auto mat-elevation-z3"></div>
        </div>
    </mat-tab>
</mat-tab-group>
