<mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="flex">
        <div class="content flex mat-elevation-z4">
            content
        </div>
    </mat-tab>
    <mat-tab label="table">
        <div class="content table mat-elevation-z4">
            <div class="cell">
                content
            </div>
        </div>
    </mat-tab>
    <mat-tab label="absolute">
        <div class="content relative mat-elevation-z4">
            <div class="absolute">
                content
            </div>
        </div>
    </mat-tab>
    <mat-tab label="absolute-margin-auto">
        <div class="content relative mat-elevation-z4">
            <div class="absolute-margin-auto mat-elevation-z3"></div>
        </div>
    </mat-tab>
</mat-tab-group>
