<main>
    <div id="demo">
        <div class="accordion-wrapper">
            <details name="accordion" id="boating" open>
                <summary>
                    <span>🚤</span>
                    <img draggable=false src="https://img.kidwen.top/file/AgACAgUAAyEGAASHUuUOAAMGZ8UjuK3LZKMlPt40JaVsKYWtUwEAAirBMRvp2ilWBbdDYYO7s-IBAAMCAAN3AAM2BA.jpg" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Boating</h3>
                    <p>Port mutiny draught handsomely ye furl flogging line shrouds hulk. Spirits Plate Fleet code of conduct.</p>
                </div>
            </details>
            <details name="accordion" id="anchoring">
                <summary>
                    <span>⚓️</span>
                    <img draggable=false src="https://img.kidwen.top/file/AgACAgUAAyEGAASHUuUOAAMEZ8Ui9bE7AZBt89Cv3KWi8rRKoVUAAijBMRvp2ilWouSs7RqCIM4BAAMCAAN3AAM2BA.jpg" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Anchoring</h3>
                    <p>Ahoy league hands Sea Legs keelhaul salmagundi fire ship crimp Privateer galleon. Booty boom yard boatswain quarter.</p>
                </div>
            </details>
            <details name="accordion" id="fishing">
                <summary>
                    <span>🎣</span>
                    <img draggable=false src="https://img.kidwen.top/file/AgACAgUAAyEGAASHUuUOAAMHZ8Uj4FVe1STqD5F8QjTuVJMDR3cAAizBMRvp2ilWFJjPD4ZlZJABAAMCAAN3AAM2BA.jpg" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Fishing</h3>
                    <p>No prey, no pay heave down splice the main brace furl cable snow walk the plank chase guns piracy bucko.</p>
                </div>
            </details>
            <details name="accordion" id="lighthouses">
                <summary>
                    <span>🔦</span>
                    <img draggable=false src="https://img.kidwen.top/file/AgACAgUAAyEGAASHUuUOAAMIZ8Uj_yEyHp053hAD9ro92re8i6MAAi3BMRvp2ilW4ZQoUAJcgOUBAAMCAAN3AAM2BA.jpg" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Lighthouses</h3>
                    <p>Deadlights squiffy salmagundi cable pinnace parrel topsail Corsair Arr mizzenmast.</p>
                </div>
            </details>
            <details name="accordion" id="reefs">
                <summary>
                    <span>🪸</span>
                    <img draggable=false src="https://img.kidwen.top/file/AgACAgUAAyEGAASHUuUOAAMJZ8UkGqb8UEE0mhO-Enh_A3E52DwAAi7BMRvp2ilWV8ATEj9zZBcBAAMCAAN3AAM2BA.jpg" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Reefs</h3>
                    <p>Keel yard poop deck brigantine gaff six pounders bring a spring
                        upon her cable interloper lad pink.</p>
                </div>
            </details>
        </div>
    </div>
</main>
