<main>
    <div id="demo">
        <div class="accordion-wrapper">
            <details name="accordion" id="boating" open>
                <summary>
                    <span>🚤</span>
                    <img draggable=false src="https://img.kidwen.top/file/3cd1e97b8eaa1b3882728-5b3461c54f724471dd.png" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Boating</h3>
                    <p>Port mutiny draught handsomely ye furl flogging line shrouds hulk. Spirits Plate Fleet code of conduct.</p>
                </div>
            </details>
            <details name="accordion" id="anchoring">
                <summary>
                    <span>⚓️</span>
                    <img draggable=false src="https://img.kidwen.top/file/30b37e3b9c3f326784fbb-32a45f7452b93cf164.png" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Anchoring</h3>
                    <p>Ahoy league hands Sea Legs keelhaul salmagundi fire ship crimp Privateer galleon. Booty boom yard boatswain quarter.</p>
                </div>
            </details>
            <details name="accordion" id="fishing">
                <summary>
                    <span>🎣</span>
                    <img draggable=false src="https://img.kidwen.top/file/aa33e1f359938ac7db59f-c118efd6bdc2567259.png" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Fishing</h3>
                    <p>No prey, no pay heave down splice the main brace furl cable snow walk the plank chase guns piracy bucko.</p>
                </div>
            </details>
            <details name="accordion" id="lighthouses">
                <summary>
                    <span>🔦</span>
                    <img draggable=false src="https://img.kidwen.top/file/af72899cbb4ed0a692b8a-1a39b227bccee615dd.png" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Lighthouses</h3>
                    <p>Deadlights squiffy salmagundi cable pinnace parrel topsail Corsair Arr mizzenmast.</p>
                </div>
            </details>
            <details name="accordion" id="reefs">
                <summary>
                    <span>🪸</span>
                    <img draggable=false src="https://img.kidwen.top/file/cadf6e5247a8fa60d906d-a5045a8c6e42975e1b.png" alt="">
                </summary>
                <div class="details-content-wrapper">
                    <h3>Reefs</h3>
                    <p>Keel yard poop deck brigantine gaff six pounders bring a spring
                        upon her cable interloper lad pink.</p>
                </div>
            </details>
        </div>
    </div>
</main>
